.person-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;

  width: 1000px;
  margin: 0;
  padding: 20px;

  background-color: white;
  border: 1px solid black;
  transform: translate(-50%, -50%);
}

.button-wrapper {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 10px;
}
